fastapi
uvicorn
pandas
numpy
scikit-learn
sqlalchemy
psycopg2-binary
python-multipart
spacy
nltk==3.8.1
textblob==0.17.1
python-jose[cryptography]
passlib[bcrypt]
python-decouple
statsmodels
pdfplumber
pymupdf